@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'),
    url(../fonts/material.woff2) format('woff2'),
    url(../fonts/material.woff) format('woff'),
    url(../fonts/material.ttf) format('ttf'),
    url(../fonts/material.eot) format('eot');

    /*src: local('Material Icons'),*/
    /*local('MaterialIcons-Regular'),*/
    /*url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),*/
    /*url(https://example.com/MaterialIcons-Regular.woff) format('woff'),*/
    /*url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');*/
}
@font-face {
    font-family: "iranyekanbold";
    src: url(../fonts/iranyekanwebbold.ttf) format("ttf");
    src: url(../fonts/iranyekanwebbold.eot) format("eot"), url(../fonts/iranyekanwebbold.woff) format("woff"), url(../fonts/iranyekanwebbold.woff2) format("woff2");
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: "iranyekanlight";
    src: url(../fonts/iranyekanweblight.ttf) format("ttf");
    src: url(../fonts/iranyekanweblight.eot) format("eot"), url(../fonts/iranyekanweblight.woff) format("woff"), url(../fonts/iranyekanweblight.woff2) format("woff2");
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: "iranyekanregular";
    src: url(../fonts/iranyekanwebregular.ttf) format("ttf");
    src: url(../fonts/iranyekanwebregular.eot) format("eot"), url(../fonts/iranyekanwebregular.woff) format("woff"), url(../fonts/iranyekanwebregular.woff2) format("woff2");
    font-weight: normal;
    font-style: normal
}
* {
    margin: 0;
    padding: 0;
    outline: none;
}
ul {
    list-style: none;
}
main{
    padding-bottom: 15px;
}
.form-input,.form-select {
    position: relative;
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #dddddd;
}

.form-select:after {
    content:'';
    position: absolute;
    left:0;
    top:50%;
    width: 0px;
    height: 0px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #bbb;
}
select::-ms-expand {
    display: none;
}
select {
    background-color: transparent;
    border: 0;
    width: 100%;
    float: right;
    margin: 0;
    padding: 5px 0;
    border: 0;
    color: #444444;
    font-family: iranyekanregular, arial;
    outline: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    position: relative;
}
input[type='text'], input[type='date'] {
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 10px 0;
    border: 0;
    font-family: iranyekanregular, arial;
    outline: 0;
    background: transparent;
}
input[type="text"]::after {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: red;
    content: "";
}
input[type='text']::placeholder, textarea::placeholder, select .selected[selected] {
    color: #4d4d4d;
    opacity: 0.6;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
body {
    font-family: iranyekanlight, 'tahoma';
    direction: rtl;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    color:#444444;
    margin: 0 0 44px; /* bottom = footer height */
}
html {
    position: relative;
    min-height: 100%;
}


h1, h2, h3, h4, h5, h6 ,button{
    font-family: iranyekanlight, 'Raleway', sans-serif;
}


.ltr-dash{
    direction: ltr;
    unicode-bidi: embed;
}
/*reset*/
.starsholder {
    color: #cc1d68;
    direction: ltr;
}
.starsholder > i::before {
    font-family: "Material Icons";
    content: '\E83A';
}
.starsholder > i.is-active::before, .starsholder > i.is-active:hover::before, .starsholder > i.will-be-active::before {
    font-family: "Material Icons";
    content: '\E838';
    cursor: pointer;
}
.starsholder i.is-disabled::before {
    cursor: default !important;
}
.chat ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
.chat ::-webkit-scrollbar {
    width: 8px;
    background-color: #f5f5f5;
}
.chat ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
    background-color: #f5a95c;
}
/*reset*/
/*global*/
.withoutres {
    display: inline-block;
    padding: 10px;
}
.cpointer {
    cursor: pointer;
}
.border-bottom-0 {
    border-bottom: 0 !important;
}
.width-100 {
    width: 100% !important;
}
.line-height-24 {
    line-height: 24px !important;
}
.line-height-26 {
    line-height: 26px !important;
}
.line-height-30 {
    line-height: 30px !important;
}
.line-height-32 {
    line-height: 32px !important;
}
.line-height-38 {
    line-height: 38px !important;
}
.block {
    display: block !important;
}
input.block, button.block {
    max-width: 85% !important;
    margin: 0 auto;
}
.tab_content input.block, button.block {
    max-width:95% !important;
}
.size-12 {
    font-size: 12px;

}
.size-13 {
    font-size: 13px;
}

.size-14 {
    font-size: 14px;
    line-height: 22px;
}
.size-16 {
    font-size: 16px;
}
.size-18 {
    font-size: 18px;
}
.size-32 {
    font-size: 32px;
}
.margin-top-0 {
    margin-top: 0 !important;
}
.margin-top-10 {
    margin-top: 10px !important;
}
.margin-bottom-5 {
    margin-bottom: 5px !important;
}
.margin-top-15 {
    margin-top: 15px !important;
}
.margin-top-30 {
    margin-top: 30px !important;
}
.margin-bottom-0 {
    margin-bottom: 0 !important;
}
.margin-bottom-15 {
    margin-bottom: 15px !important;
}
.margin-bottom-20 {
    margin-bottom: 20px !important;
}
.margin-bottom-30 {
    margin-bottom: 30px !important;
}
.margin-bottom-35 {
    margin-bottom: 35px !important;
}
.margin-bottom-50 {
    margin-bottom: 50px !important;
}
.padding-bottom-0 {
    padding-bottom: 0px !important;
}
.padding-bottom-15 {
    padding-bottom: 15px !important;
}
.padding-bottom-35 {
    padding-bottom: 35px !important;
}
.padding-top-15{
    padding-top: 15px !important;
}
.padding-left-35 {
    padding-left: 35px !important;
}
.padding-right-35 {
    padding-right: 35px !important;
}
.margin-top-50 {
    margin-top: 50px !important;
}

.margin-left-10 {
    margin-left: 10px !important;
}
.margin-left-0 {
    margin-left: 0px !important;
}
.resetbtnstyle {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: 0;
    padding: 0 2px;
}
.buttons.child_margin {
    margin-bottom: 20px;
}
.buttons.child_margin button {
    margin-left: 10px;
}
.no-border-bottom {
    border-bottom: 0 !important;
}
.border-bottom-1 {
    border-bottom: 1px solid #bbbbbb !important;
}
.margin-right-0 {
    margin-right: 0 !important;
}
.margin-left-0 {
    margin-left: 0 !important;
}
.margin-right-10 {
    margin-right: 10px !important;
}
.no-padding {
    padding: 0 !important;
}
.no-margin {
    margin: 0 !important;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.clear {
    clear: both;
}
.ltr {
    direction: ltr;
}
.inline-block {
    display: inline-block;
}
.col-inner {
    margin: 15px;
}
.c_darkoverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all;
}
.c_darkoverlay.show {
    opacity: 1;
    visibility: visible;
    z-index: 7;
}
.likebtn {
    cursor: pointer;
}
.text-orange {
    color: #e74200 !important;
}
.bg_white {
    background-color: #f3f3f3;
}
.btn_nice_grad {
    margin: 15px 0;
    display: inline-block;
    border-radius:3px;
    background: #6bb448;
    font-family: iranyekanbold;
    font-size: 13px;
    line-height: 45px;
    color: #fff;
    cursor: pointer;
    outline: 0;
    border: 0;
    max-width: 200px;
    width: 100%;
    margin-left: 15px;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.1) , -1px 2px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow:1px 2px 2px rgba(0,0,0,0.1), -1px 2px 2px rgba(0,0,0,0.1);
    -moz-box-shadow:1px 2px 2px rgba(0,0,0,0.1), -1px 2px 2px rgba(0,0,0,0.1);
    -ms-box-shadow:1px 2px 2px rgba(0,0,0,0.1), -1px 2px 2px rgba(0,0,0,0.1);
    text-align: center;
}
.btn_nice_grad:hover{
    background: #5e9e3f !important;
}
.btn_nice_grad_border {
    margin: 15px 0;
    display: inline-block;
    border-radius: 40px;
    background: #ffffff !important;
    font-family: iranyekanbold;
    font-size: 13px;
    color: #f64736;
    cursor: pointer;
    outline: 0;
    line-height: 36px;
    border: 1px solid #f64736;
    min-width: 200px;
    margin-left: 15px;
}
.btn_nice_grad_border:hover{
    background: #f64736 !important;
    color: #ffffff;
}
.close-btn {
    font-size: 18px;
    color: #cc1d68;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.btn_nice_grad_gray {
    line-height: 45px;
    max-width: 100%;
    width: 100%;
    margin: 0 0 10px;
    display: inline-block;
    min-width: 120px;
    border-radius: 3px;
    background: linear-gradient(to right, #707070, #888888) !important;
    background: -webkit-linear-gradient(to right, #707070, #888888) !important;
    background: -moz-linear-gradient(to right, #707070, #888888) !important;
    background: -ms-linear-gradient(to right, #707070, #888888) !important;
    font-family: iranyekanbold;
    font-size: 13px;
    color: #fff;
    cursor: pointer;
    outline: 0;
    border: 0;
}
.btn_gray {
    margin-bottom: 15px;
    display: inline-block;
    border-radius:3px;
    background: #363636;
    font-family: iranyekanbold;
    font-size: 13px;
    line-height: 45px;
    color: #fff;
    cursor: pointer;
    outline: 0;
    border: 0;
    max-width: 246px;
    width: 100%;
}
.btn_gray:hover{
    background: #666666 !important;
}
.charC {
    font-size: 11px;
    color: #7f7f7f;
    margin-top: 10px;
    text-align: left;
    direction: ltr;
}
/** Bootstrap 5 column equal grid
 ******************************** **/
.row{
    width:100%;
    display: inline-block;
}
.row::after{
    clear: both;
}
.col-xs-5th,
.col-sm-5th,
.col-md-5th,
.col-lg-5th {
    position: relative;
    min-height: 1px;
    padding-right:1%;
    padding-left: 1%;
    width: 18%;
    float: right;
}
@media (min-width: 768px) {
    .col-sm-5th {
        width: 18%;
        float: right;
    }
    .secondary_header menu ul li > a {
        padding:5px;
    }
}
@media (min-width: 992px) {
    .col-md-5th {
        width: 18%;
        float: right;
    }
}
@media (min-width: 1200px) {
    .col-lg-5th {
        width: 18%;
        float: right;
    }
}

@media  screen and (max-width: 992px) {

    .col-md-5th.col-sm-5th {
        width: 23%;
        float: right;
    }
}
@media  screen and (max-width: 769px) {
    .col-md-5th.col-sm-5th {
        width: 48%;
        /* float:none; */
        /*display:block;*/
    }
}


@media screen and (max-width: 480px) {
    .col-xxs-12{
        width: 100% !important;
        float: none !important;
    }
}


/*pagination*/
.pagination {
    list-style: none;
    margin: 1.5em 0 1em 0;
    padding: 0;
}
.pagination li {
    display: inline-block;
    margin: 0 2px;
}
.pagination li.disabled {
    cursor: default;
}
.pagination li.disabled > a {
    pointer-events: none;
    background-color: #fff !important;
    color: #000000 !important;
    opacity: 0.3;
}
.pagination li.prevPage > a, .pagination li.nextPage > a {
    color: #7c8385;
}
.pagination li a {
    color: #000000;
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    transition: 0.2s all;
    font-size: 12px;
    border: 1px solid #ddd;
}
.pagination li:hover a, .pagination li.active a {
    background-color: #cc1d68;
    color: #ffffff;
}
/*pagination*/
/*tabs*/
.tabs {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #465a65;
}
.searchresult .tabs {
    background-color: #f3f3f3;
}
.tabs > li {
    display: inline-block;
    position: relative;
}
.tabs > li > a {
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 0.9em;
    font-family: iranyekanbold;
    min-width: 80px;
    text-align: center;
}
.tabs > li.active > a {
    background-color: #36454c;
    color: #ffffff;
}
.tabs > li.active::after {
    content: 'arrow_drop_down';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Material Icons';
    font-size: 50px;
    color: #36454c;
}
.tabs > li > a span{
    display:inline-block;
}
.tabs > li a .badget{
    margin-right:5px;
    height:22px;
    min-width:10px;
    padding:0 5px;
    background-color:#000;
    line-height:24px;
    font-size:10px;
    border-radius:50%;
    color:#ffffff;
}
.more-result{
    padding:0 10px;
    line-height: 22px;
    border-radius: 12px;
    color: #cc1d68;
    margin-right: 15px;
    border: 1px solid #cc1d68;
    font-size: 13px;
    display: inline-block;
}
.more-result:hover{
    background-color: #cc1d68;
    color: #ffffff;
}
.tab_contents .tab_content {
    display: none;
}
.tab_contents .tab_content {
    padding:20px 0;
}
.tab_contents .tab_content::before,.tab_contents .tab_content::after {
    display:table;
    clear:both;
    content:'';
}
.tab_contents .tab_content.active {
    display: block;
}
/*tabs*/
/*global*/
/*resets*/
a, a:hover ,a:focus, a:visited {
    text-decoration: none;
}
/*resets*/
/*modals*/
.c_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 12;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s all;
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
}
.c_modal .icon_img {
    display: block;
    margin: 0 auto 10px auto;
}
.c_modal .icon_title {
    display: block;
    text-align: center;
    font-family: iranyekanbold;
    margin: 40px 0;
    font-size: 24px;
    color: #f64736;
}
.c_modal .ModalButtonHolder {
    width: 300px;
    display: inline-block;
    margin-top: 30px;
}
.c_modal .text_modal {
    width: 300px;
    display: inline-block;
    line-height: 2;
    font-weight: bold;
}
.c_modal.active {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
}
.c_modal .c_modal_inner {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    padding: 10px;
    background-color: #ffffff;
    width: 425px;
    max-width: 90%;
    max-height: 70%;
    box-shadow: 0 6px 32px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 6px 32px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 6px 32px rgba(0,0,0,0.3);
    -ms-box-shadow: 0 6px 32px rgba(0,0,0,0.3);
    overflow-y: auto;
    overflow-x: hidden;
}
.c_modal .c_modal_inner form {
}
.c_modal .c_modal_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}
.c_modal .c_modal_inner .c_modal_header {
    float: right;
    width: 100%;
}
.c_modal .c_modal_inner .c_modal_header > a {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
}
.c_modal .c_modal_inner .close_modal > i {
    border-radius: 50%;
    color: #909090;
    cursor: pointer;
}
.c_modal .c_modal_inner .c_modal_content {
    clear: both;
    padding: 30px;
    text-align: center;
}
.c_modal .c_modal_inner .c_modal_content .textContnet {
    line-height: 2;
    font-size: 13px;
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
}
.c_modal .c_modal_inner .c_modal_content .textContnet .phonenumber {
    font-weight: bold;
}
.c_modal .c_modal_inner .c_modal_content .textContnet .phonenumber::before, .c_modal .c_modal_inner .c_modal_content .textContnet .phonenumber::after {
    content: '"';
}
.c_modal .c_modal_inner .c_modal_content .rating {
    margin-bottom: 15px;
}
.c_modal .c_modal_inner .c_modal_content .rating .label {
    float: right;
    font-family: iranyekanbold;
    color: #737373;
    line-height: 32px;
}
.c_modal .c_modal_inner .c_modal_content .rating .starsholder {
    float: left;
}
.c_modal .c_modal_inner .c_modal_content .rating .starsholder > i {
    float: left;
    color: #e74200;
}
.c_modal .c_modal_inner .c_modal_content .send_rate > textarea {
    width: 100%;
    margin: 30px 0 10px 0;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ddd;
    font-family: iranyekanregular;
    min-height: 90px;
}
.c_modal .c_modal_inner .c_modal_content .send_code {
}
.c_modal .c_modal_inner .c_modal_content .send_code button:disabled {
    opacity: 0.4;
}
.c_modal .c_modal_inner .c_modal_content .send_code input[type='submit'], .c_modal .c_modal_inner .c_modal_content .send_code button[type='submit'] {
    margin: 0 0 10px 0;
    max-width: 100%;
}
.c_modal .c_modal_inner .c_modal_content .send_code button[type='submit']:disabled {
    opacity: 0.6;
}
.c_modal .c_modal_inner .c_modal_content .send_code button[type='submit'] .countdown {
    margin-right: 10px;
}
.c_modal .c_modal_inner .c_modal_content .send_code .icon_img {
    display: block;
    margin: 0 auto 50px;
}
.c_modal .c_modal_inner .c_modal_content .send_code input[type='text'], .c_modal .c_modal_inner .c_modal_content .send_code input[type='tel'] {
    width: 100%;
    margin: 10px 0 10px 0;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ddd;
    font-family: iranyekanregular;
    padding: 10px 0;
}
#download_modal.c_modal .c_modal_inner {
    width: 100%;
    max-width:748px;
    min-height: 494px ;
    background-color: #f3f2ee;
    background-image: url('../../static/img/download-pic.png');
    background-repeat: no-repeat !important;
    background-position:right 0 !important;
    background-size: percentage;
    margin: 0 10px !important;
}
#download_modal .dl-modal{
    padding-right:54%;
}
#download_modal .dl-modal-in{
    padding: 30px 0;
}
#download_modal .dl-modal-img{
    text-align: center;
}
#download_modal .dl-modal-t{
    margin:30px 0 50px;
    text-align: center;
    font-weight:bold;
}
#download_modal .dl-modal-text{
    font-weight:bold;
    font-size:14px;
    line-height:24px;
    margin-bottom: 30px;
}
@media  (max-width:768px){
    #download_modal.c_modal .c_modal_inner{
        background-image: none;
        max-width: 480px;
        min-height: auto;
    }
    #download_modal .dl-modal{
        padding-right: 0;
    }
}
input.error {
    color: #ef0000;
    border-color: #ef0000;
}
input~.ai {
    text-align: right;
    font-size: 11px;
    display: none;
    color: #ef0000;
    font-weight: bold;
}
input.error~.ai {
    display: block;
}
input.error~.ai > i {
    font-size: 18px;
    float: right;
    margin: 0 0 2px 5px;
}
.c_modal .c_modal_inner .c_modal_content .c_inputs {
    margin-bottom: 30px;
}
.c_modal .c_modal_inner .c_modal_content .send_code .number-input {
    text-align: center;
}
.c_modal .c_modal_inner .c_modal_content .send_code .ttl_icon {
    display: block;
    text-align: center;
    font-family: iranyekanbold;
    margin-bottom: 40px;
    font-size: 14px;
    color: #f64736;
}
.c_modal .c_modal_inner .c_modal_content .send_code .phone-fileds {
    direction: rtl;
}
.c_modal .c_modal_inner .c_modal_content .send_code .phone-fileds > span {
    font-size: 12px;
    font-family: iranyekanbold;
    margin-left:10px;
}
.c_modal .c_modal_inner .c_modal_content .send_code .phone-fileds input[type='tel'] {
    width: 160px;
    text-align: center;
    font-size: 30px !important;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #ddd;
    letter-spacing: 10px;
    padding: 10px 0 10px 10px;
    margin: 0;
    font-family: iranyekanbold;
}
.phone-fileds .ai{
    font-size: 11px;
    color: #fd3535;
    display:inline-block;
    margin-top: 10px;
    font-weight: bold;
}
.phone-fileds .ai > i {
    font-size: 18px;
    float: right;
    margin: 0 0 2px 5px;
}
#register_modal .label {
    font-weight: bold;
    line-height: 32px;
    margin-left: 10px;
    font-size: 14px;
    display: inline-block;
}
#register_modal .btn_nice_grad_gray {
    margin: 0;
}
#login_modal .text {
    font-weight: bold;
    width: 100%;
    max-width: 60%;
    line-height: 24px;
    margin: 0 auto;
    display: block;
    font-size: 12px;
}
#registerForm input[type='text'] {
    border-bottom: 0;
    padding: 0;
}
#registerForm .c_inputs label{
    position: relative;
    padding-right: 30px;
    display: block;
    border-bottom: 1px solid #ddd;
    margin: 15px 0;
}
#registerForm  label i{
    position: absolute;
    right:0;
    bottom:10px;
    color: #727272;
}
.c_modal .starsholder i {
    font-size: 32px !important;
    font-weight: normal;
}
/*modals*/
/*loader*/
.mainloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1111;
    transition: 0.4s all;
    opacity: 1;
    visibility: hidden;
}
.mainloader.active {
    opacity: 1;
    visibility: visible;
}
@keyframes loaderanim {
    0% {
        filter: blur(0) grayscale(0.3);
        transform: scale(1);
    }
    25% {
        filter: blur(8px) grayscale(0.5);
        transform: scale(1.05);
    }
    50% {
        filter: blur(1px) grayscale(0.1);
        transform: scale(1.07);
    }
    75% {
        filter: blur(2px) grayscale(0.8);
        transform: scale(0.8);
    }
    100% {
        filter: blur(0px) grayscale(0);
        transform: scale(1);
    }
}
.mainloader .topsec, .mainloader .bottomsec {
    transition: 0.5s all;
}
.mainloader .topsec {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 52%;
    background-color: #262626;
    transform: translateY(-100%);
}
.mainloader .bottomsec {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50%;
    background-color: #262626;
    transform: translateY(100%);
}
.mainloader.active .bottomsec {
    transform: translateY(0%);
}
.mainloader.active .topsec {
    transform: translateY(0%);
}
.mainloader .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    ms-transform: translate(-50%, -50%);
}
.mainloader .inner > img {
    max-width: 400px;
    height: auto;
    transform: scale(1);
    opacity: 0;
    transition: 0.5s all;
}
.mainloader.active .inner > img {
    filter: blur(0);
    opacity: 1;
    transform: scale(1);
    animation-name: loaderanim;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
.mainloader .lingodes {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    text-align: center;
}
.mainloader .lingodes > span {
    font-size: 20px;
    font-family: iranyekanbold;
    display: inline-block;
    color: #ffffff;
}
/*loader*/
/* block */
.blk{
    margin-bottom: 30px;
}
.blk-h h2{
    font-size: 14px;
    border-bottom:1px solid #dcdcdc;
    width: 100%;
    display: inline-block;
    line-height: 32px;
}
.blk-h a.btn , a.btn{
    display: inline-block;
    line-height: 24px;
    border-radius: 40px;
    font-family: iranyekanbold;
    font-size: 13px;
    color: #f64736;
    background: transparent;
    cursor: pointer;
    outline: 0;
    border: 1px solid #f64736;
    min-width: 94px;
    text-align: center;
}
a.btn:hover{
    background: #f64736;
    color:#ffffff;
}
.blk-c{
    padding: 15px 0;
}
.blk2-h{
    background: #f7f7f7;
    padding:10px;
    border:1px solid #ededed;
}
.blk2-h h2{
    font-size: 13px;
    font-weight: normal;
}
/*header*/
header {
    position: relative;
}
.top_header {
    background-color: #36474f;
    min-height: 74px;
}
.top_header .logo_holder {
    float: right;
    margin-top:15px;
    margin-bottom: 5px;
    width:100px;
}
.top_header .logo_holder a {
    display: block;
}
.top_header .logo_holder img {
    width: 100%;
    height: auto;
}
.top_header .actions_holder {
    float: left;
}
.top_header .actions_holder ul {
    list-style: none;
    margin-top:27px;
    margin-bottom: 10px;
    width:100%;
    display: inline-block;
}
.top_header .actions_holder ul li {
    color: #ffffff;
    margin-right: -4px;
    float: right;
    font-size: 13px;
}
.top_header .actions_holder ul li.profile_box .username {
    color: #cc1d68;
}
.top_header .actions_holder ul li .actions_inner {
    border-left: 1px solid #757575;
    padding: 0 20px 0 0;
}
.top_header .actions_holder ul li .actions_inner > i{
    float: left;
    font-size: 23px;
    margin: -2px 10px 0;
}
.top_header .actions_holder ul li:last-child .actions_inner {
    border-left: 0;
}
.top_header .actions_holder ul li a {
    padding-bottom: 10px;
    color: #fff;
}
.top_header .actions_holder ul li:last-child .actions_inner > a {
    color: #ffffff;
    border-bottom: none;
}
.top_header .actions_holder ul li:last-child .actions_inner > a > i {
    font-size: 20px;
}
.secondary_header {
    background-color: #465a65;
    position: relative;
    z-index: 9;
    min-height: 40px;
}
@media (max-width:768px) {
    .secondary_header {
        z-index:1111111;
    }
}
.secondary_header .menu-btn{
    display: none;
    background: #ffffff;
    border-radius: 2px;
    border: none;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    cursor: pointer;
}
.secondary_header .menu-btn i{
    line-height:30px;
    color:#465a65;
}
.secondary_header > .container {
    position:initial;
}
.secondary_header menu {
    margin: 0;
    padding: 0;
}
.secondary_header menu ul {
    margin: 0;
    padding: 0;
    text-align: right;
    float: right;
    width: 100%;
}
.secondary_header menu .sub-menu{
    background: #ffffff;
    width:100%;
    position: absolute;
    left: 0;
    right: 0;
    display: none;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
}
.secondary_header menu ul ul{
}

.secondary_header menu ul li {
    display: inline-block;
    float: right;
}

@media (min-width:768px) {
    .secondary_header menu > ul > li:hover > a::before {
        position:absolute;
        top:0;
        right:0;
        left:0;
        height: 1px;
        width:100%;
        background-color:#465a65;
        content:'';
    }
    .secondary_header menu ul li:hover .sub-menu {
        display:block;
    }
    .secondary_header menu ul li.has-submenu:hover > a::after {
        position:absolute;
        content:'';
        z-index: 1;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid #36474f;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
    }
}
.secondary_header menu ul li > a {
    color: #ccd0d9;
    padding: 0 25px;
    line-height: 40px;
    display: inline-block;
    font-family: iranyekanbold;
    font-size: 13px;
    position: relative;
}
.secondary_header menu ul ul a{
    padding: 25px;
    color: #666666;
    line-height: inherit;
    position: relative;
}
.secondary_header menu ul ul li:hover a {
    background-color:#ffffff;
    color:#f64736;
}
.secondary_header menu ul ul a::after {
    content:'';
    width:1px;
    height: 18px;
    position: absolute;
    left: 0;
    background-color: #ddd;
}
.secondary_header menu ul ul li:last-child a::after  {
    display:none;
}
@media(min-width:768px) {
    .secondary_header menu ul li:hover > a {
        background-color: #36474f;
    }
}
header .top_search .searchMokhal {
    width: 400px;
    max-width: 80%;
    border: 0;
    outline: 0;
    font-family: iranyekanregular;
    border-bottom: 1px solid #596a72;
    border-bottom: 1px solid #596a72;
    display: inline-block;
    position: relative;
    margin: 10px 10% 0;
}

header .top_search .searchMokhal button[type="submit"] {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: transparent;
    border: 0;
    outline: 0;
    color: #ffffff;
    z-index: 12;
    line-height: 0;
}
header .top_search .searchMokhal button[type="submit"] > i {
    font-size: 25px;
}
header  .top_search input[type="text"] {
    width: 100%;
    border: 0;
    outline: 0;
    padding: 10px;
    font-family: iranyekanregular, arial;
    position: relative;
    z-index: 11;
    color: #ffffff;
}
header input[type='text'] ,header input[type='text']::-moz-placeholder,header input[type='text']::-webkit-input-placeholder,header input[type='text']:-ms-input-placeholder{
    color: #a2b3bb !important;
}

/*header*/

.top-video .swiper-container {
    width: 100%;
    height:460px;
    margin:0 auto;
    padding: 15px 0;
    background-color: #f1f1f1;
}
.main-content .swiper-slide {
    margin-bottom:10px;
}
.main-content .swiper-slide:hover {
    box-shadow: 2px 2px 10px rgba(0,0,0,0.05), -2px 2px 10px rgba(0,0,0,0.05);
    -webkit-box-shadow: 2px 2px 10px rgba(0,0,0,0.05), -2px 2px 10px rgba(0,0,0,0.05);
    -moz-box-shadow: 2px 2px 10px rgba(0,0,0,0.05), -2px 2px 10px rgba(0,0,0,0.05);
    -ms-box-shadow: 2px 2px 10px rgba(0,0,0,0.05), -2px 2px 10px rgba(0,0,0,0.05);
}
.top-video .swiper-slide {
    font-size: 18px;
    background: #fff;
    width: 60%;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height:460px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}
.top-video .slide-desc{
    position: absolute;
    background-color: #030303;
    background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0)) !important;
    background: -webkit-linear-gradient(to top, rgba(0,0,0,1),rgba(0,0,0,0)) !important;
    background: -moz-linear-gradient(to top, rgba(0,0,0,1),rgba(0,0,0,0)) !important;
    background: -ms-linear-gradient(to top, rgba(0,0,0,1),rgba(0,0,0,0)) !important;
    min-height: 60px;
    color: #ffffff;
    bottom: 0;
    right:0;
    left:0;
    padding:15px;
}
.slide-desc-l{
    width: 120px;
    text-align: left;
    float: left;
}
.slide-desc a{
    color: #444444;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.top-video .slide-desc .slide-title{
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 15px;
}
.top-video .swiper-button-prev{
    right:0;
}
.top-video .swiper-button-prev,.top-video .swiper-container-rtl .swiper-button-next {
    background-image: none !important;
    background-color: #111111;
    color: #ffffff;
    line-height: 54px;
    height: 54px;
    width: 76px;
}
.top-video .swiper-button-prev i,.top-video .swiper-container-rtl .swiper-button-next i{
    font-size: 54px;
}
.top-video  .swiper-button-prev{
    right:0 !important;
}
.top-video .swiper-container-rtl .swiper-button-next{
    left:0 !important;
}
@media (max-width:1170px){
    .container{
        width:calc(100% - 30px);
    }
    .top_header{
        padding: 0 10px;
    }
}
@media (min-width:768px) {
    .secondary_header menu ul li input {
        display:none;
    }
}
@media (max-width: 768px){
    .back-dark{
        background: rgba(0,0,0,0.5);
        position: fixed;
        left:0;
        right:0;
        bottom:0;
        top:0;
        z-index: 1110;
        opacity: 0;
        visibility:hidden;
        transition:0.3s all;
    }
    .back-dark.active {
        opacity:1;
        visibility:visible;
    }
    .secondary_header .menu-btn{
        display: block;
    }
    .secondary_header menu ul li > a::before {
        color: #ffffff;
    }
    .secondary_header menu ul {
        position:fixed;
        top:0;
        right: -200px;
        bottom:0;
        width:200px;
        background-color:#ffffff;
        z-index:1111;
        overflow-y: auto;
        transition: 0.4s all;
    }
    .secondary_header menu ul.active {
        right:0;
    }
    .secondary_header menu ul li  {
        display:block;
        float: none;
        position: relative;
        border-bottom: 1px solid #f7f7f7;
    }
    .secondary_header menu ul ul a {
        padding:10px;
    }
    .secondary_header menu ul li input {
        position:absolute;
        right:0;
        top: 0;
        z-index:2;
        width: 100%;
        height: 40px;
        opacity: 0;
    }
    .secondary_header menu ul li input:checked ~ .sub-menu {
        display:block;
    }
    .secondary_header menu ul li input:checked ~ a {
        background-color:#eee;
        color: #36474f;
    }
    .secondary_header menu ul li input:checked ~ a::before {
        content: '\E5CE';
    }
    .secondary_header menu ul li.has-submenu > a::before {
        content: '\E5CF';
        position:absolute;
        left: 10px;
        font-family:'Material Icons';
        color: #36474f;
        font-size: 25px;
    }
    .secondary_header menu ul li .sub-menu {
        position:initial;
    }
    .secondary_header menu ul li > a {
        display: block;
        margin-left: 1px;
        color: #36474f;
    }
    .secondary_header menu ul li .sub-menu > .container {
        padding:0;
    }
    .secondary_header menu ul ul {
        position:initial;
    }
    .secondary_header menu ul ul > li {
        display:block;
        float:none;
    }
}
@media (max-width: 480px){
    .slide-desc-l{
        float: none;
        width: 100%;
        margin-bottom: 10px;
    }
    .slide-desc-r{
        margin-left: 0;
    }
}
.main-content {
    padding: 35px 0;
}
.main-content .swiper-button-prev,
.main-content .swiper-container-rtl .swiper-button-next,
.main-content .swiper-button-next,
.main-content .swiper-container-rtl .swiper-button-prev{
    background-image: none;
    background-color: #f4f4f4;
    font-size: 38px;
    width:26px;
    height: 38px;
    border-radius: 2px;
    line-height: 38px;
    color:#cccccc;
}
.main-content .swiper-button-prev i,
.main-content .swiper-container-rtl .swiper-button-next i,
.main-content .swiper-button-next i,
.main-content .swiper-container-rtl .swiper-button-prev i{
    font-size: 38px;
    margin-right:-5px;
}

.main-content .swiper-button-prev{
    left:-35px;
}
.main-content .swiper-button-next{
    right:-35px;
}
.new_video .slide-img{
    width: 100%;
    height: 120px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-bottom: 1px solid #ededed;
}
.new_video .slide-img img{
    position: absolute;
    top: 50%;
    display: block;
    left: 50%;
    transform: translate(-50%,-50%);
    webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
}
.slide-blk{
    border:1px solid #ededed;
}
.slide-blk .slide-desc{
    color: #000000;
    font-size: 12px;
    border-top: 1px solid #ededed;
    line-height: 30px;
}
.slide-det{
    padding:0 5px 5px 5px;
}
.slide-det-t{
    margin-top: 5px;
}
.slide-det-t ul{
    line-height: 14px;
    margin-bottom:5px;
}
.slide-det-t ul li{
    display: inline-block;
    border-left:1px solid #ededed;
    margin-left:10px;
    padding:0 0 0 10px;
}
.slide-det-t ul li:last-child{
    border-left:0;
}
.slide-det-t ul li i{
    font-size: 16px;
    margin-left:5px;
    color: #8e8e8e;
    float: right;
    margin-top:-3px;
}
.videoList .slide-blk{
    margin-bottom: 24px;
}
.breadcrumb-row{
    width: 100%;
    padding: 8px 0;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}
.breadcrumb > li {
    display: inline-block;
    font-size: 12px;
}
.breadcrumb > li a{
    color:#a8b0b2 ;
    font-size: 12px;
}
.breadcrumb > li + li::before {
    content: "\E314";
    display: inline-block;
    font-family: 'Material Icons';
    color: #a8b0b2;
    font-size: 20px;
    padding: 0 5px;
    float: right;
}
.load-more{
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
    font-size: 12px;
}
.load-more i{
    color: #dbdbdb;
    font-size: 30px;
}
.load-more:hover{
    color: #dbdbdb;
}
.vlist-row{
    width: 100%;
    display: inline-block;
}
.video-page-r {
    width: 280px;
    float: right;
}
.video-page-l{
    width: calc(100% - 300px);
}
.video-page-l .videoHolder {
    position:relative;
}
.video-page-l .videoHolder .previmage {
    width: 870px;
    height: 450px;
    background-size: cover;
    background-position: center;
}
@media(min-width:992px) {
    .video-page-l{
        float: left;
        margin-right: 20px;
    }
    .video-page-r {
        float: left;
    }
}
@media(max-width:992px) {
    .video-page-l{
        float: left;
        width:100%;
        margin-bottom: 40px;
    }
    .video-page-r {
        float:left !important;
        width:100%;
    }
}
.video-page-l-in{
    padding-right: 15px;
    border-right:1px solid #dddddd;
}
.vlist-img {
    width:126px;
    height: 72px;
    position: relative;
    float: right;
}
.vlist-img img {
    position: absolute;
    top: 50%;
    display: block;
    left: 50%;
    transform: translate(-50%, -50%);
    webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}
.vlist-det {
    margin-right: 140px;
}
.vlist-det-t {
    min-height: 54px;
}
.vlist-det-t a{
    font-size: 11px;
    color: #444444;
}
.vlist-row .slide-det-t{
    border-bottom: none;
    font-size: 12px;
}
.vlist-row .slide-det-t ul li i{
    color:#a5a5a5 ;
}
.video-list > li{
    padding: 10px 0;
    border-bottom: 1px solid #dddddd;
    position: relative;
}
.video-list > li:last-child{
    border-bottom: none;
}
.jw-dock-image {
    background-size: 45%;
    opacity: 1;
}
.video-details .blk2-c{
    padding: 15px 0;
    line-height: 24px;
    font-size: 14px;
}
.video-details h1{
    margin:30px 0;
}
.video-details .blk2-h{
    padding: 10px 10px 0 10px;
}
.video-details .view{
    display: block;
    line-height: 24px;
}
.video-details .view span{
    display: inline-block;
    margin-left:5px;
    color: #f64736;
}

.video-details .view i {
    font-size: 21px;
    margin-left: 5px;
    float: right;
    color: #f54337;
}
.video-action ul li{
    float: left;
    margin-right: 10px;
    margin-left:10px;
    position: relative;
}
.video-action ul li a{
    color: #737373;
    display: block;
}
.video-action ul li a.liked {
    color:#6bb448;
}
.video-action ul li .num{
    margin-right:5px;
    float: left;
    margin-top:6px;
}
.video-action ul li a:hover{
    color: #f54337;
}
.tag-row{
    width: 100%;
    display: inline-block;
    border-top:1px solid #dddddd;
}
.tag-row h2{
    font-size: 14px;
    padding: 15px 0;
}
.tag-row .tag{
    background-color:#f64736;
    color: #ffffff;
    padding: 2px 10px;
    margin-left: 10px;
    font-size: 12px;
    line-height: 18px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    cursor: pointer;
}
.checkbox-custom, .radio-custom {
    opacity: 0;
    top: 0;
    right: 0;
    z-index: 11111;
    position: absolute;
    width: 100%;
    height: 100%;
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.checkbox-custom-label, .radio-custom-label {
    position: relative;
    padding: 5px 0;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border:1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 13px;
    height: 13px;
    padding:0 1px 4px 3px;
    margin-left: 10px;
    text-align: center;
}
.checkbox-custom + .checkbox-custom-label:before{
    border-radius: 3px;
}
.checkbox-custom:checked + .checkbox-custom-label:before {
    content: "\E876";
    font-family: 'Material Icons';
    background: #f74136;
    color: #fff;
    border-color: #f74136;
}

.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
    content: "\E876";
    font-family: 'Material Icons';
    color: #bbb;
}

.checkbox-custom:focus + .checkbox-custom-label, .radio-custom:focus + .radio-custom-label {
    outline: 1px solid #ddd; /* focus style */
}

.searchresult .slide-blk{
    /* margin:0 12px 24px; */
}
.searchresult .swiper-slide{
    margin: 0 10px 20px 10px !important;
}
.sort-text{
    width: 150px;
    float: right;
    line-height: 32px;
    font-size: 12px;
}
.sort-select{
    margin-right:150px;
}

.sort-select .form-select {
    width: 170px;
}
.sort-select .form-select select{
    font-size: 12px;
}

.notfound {
    text-align: center;
    margin:30px 0;
}
.notfound > img {
    display:block;
    margin:0 auto;
}

@media (max-width: 992px){
    .video-page-r{
        width: 100%;
        float: none;
    }
    .video-page-l{
        margin-right: 0;
    }
}
@media (max-width: 480px){
    .sort-text{
        width:100%;
        float: none;
    }
    .sort-select{
        margin-right:0;
    }
    .sort-select .form-select{
        width:100%;
    }
}
/*footer*/
footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
footer.main-footer {
    background-color: #36474f;
    padding: 10px 0;
    min-height: 20px;
    color: #dadbdf;
}
footer.main-footer ul {
    margin: 0;
    padding: 0;
}
footer.main-footer ul li {
    display: inline-block;
    margin-left: 40px;
}
footer.main-footer ul li > a {
    color: #dadbdf;
    font-size: 14px;
}
/*Notfound*/
.resnotfound {
    text-align: center;
    padding: 80px 0;
}
.resnotfound img {
    width: 100px;
    max-witdh: 90%;
    display: block;
    margin: 0 auto;
}
.resnotfound span {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    display: block;
    color: #838383;
}
/*Notfound*/

/* About */
.grad_sec {
    height: 150px;
    background: linear-gradient(to right, #545780, #664572, #7d4167, #96505a, #9d5556);
    background: -webkit-linear-gradient(to right, #545780, #664572, #7d4167, #96505a, #9d5556);
    background: -moz-linear-gradient(to right, #545780, #664572, #7d4167, #96505a, #9d5556);
    background: -ms-linear-gradient(to right, #545780, #664572, #7d4167, #96505a, #9d5556);
    text-align: center;
}
.grad_sec img {
    max-width: 100%;
    margin: 0 auto;
}
.grad_sec .cover_img {
    background-image: url(../../static/img/cover-about.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 150px;
}
.context {
    line-height: 36px;
    font-size: 12px;
    font-weight: bold;
    text-align: justify;
}
.context p {
    margin-bottom: 15px;
}
.content .header-in {
    cursor: pointer;
}
.content .header-in h3 {
    position: relative;
    color: #f64736;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-right: 30px;
}
.content .header-in h3 span {
    width: 18px;
    height: 18px;
    text-align: center;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f64736;
    border-radius: 50%;
    color: #fff;
}
.content .header-in h3 i {
    font-size: 15px;
    line-height: 18px;
    margin-right: -1px;
}
.content .header-in h3 i::before {
    content: 'remove';
}
.closecontent .header-in h3 i::before {
    content: 'add';
}
.context-row {
    /*padding-bottom: 15px;*/
    border-bottom: 1px solid #dddddd;
}
.context-row:last-child {
    border-bottom: 0;
    margin-bottom: 50px;
}
.closecontent .context {
    display: none;
}
.context-row ul li span {
    color: #cc1d68;
    font-size: 14px;
    margin-left: 5px;
}

/* About */
/*responsive*/
@media (max-width:1200px) {
    .searchresult .result_row .col-inner {
        margin: 0 !important;
    }
    .col-inner-inner {
        float: right;
        width: 100%;
        margin: 10px 0;
    }
    .List .dargcontent {
        width: 100%;
        margin-right: 0 !important;
        margin-bottom: 15px;
    }
    .skills {
        width: 970px;
    }
    .eachskills {
        width: 323.33px;
    }
    .sortable-placeholder {
        width: 310px;
    }
}
.error~.ai ,.ai {
    margin-top: 5px;
    width: 100%;
    display: inline-block !important;
    color: #ef0000;
    text-align: right;
    font-size: 11px;
    font-weight: bold;
}
.ai > i {
    font-size: 18px;
    float: right;
    margin: 0 0 2px 5px;
}
@media (max-width: 992px) {
    .start-section {
        padding-bottom: 100px;
        height: auto;
    }
    .start-main form.search-box, .start-main .login-register {
        padding: 0;
        border: 0;
    }
    .start-main-bottom{
        margin-top: 150px;
    }
    .start-main-sec.sec1{
        margin-bottom: 30px;
    }
    .start-main-sec.sec2{
        border-left: 0;
        margin-bottom: 30px;
    }
    .login-register {
        min-height: auto;
    }
    .start-main form {
        margin-bottom: 30px !important;
    }
    .personal-info-edit .sec.odd, .personal-info-edit .sec.even {
        padding: 0;
    }
    .personal-info-edit .row {
        margin-bottom: 0;
    }
    .skills {
        width: 750px;
        max-width: 100%;
    }
    .eachskills {
        width: 50%;
    }
    .sortable-placeholder {
        width: 48%;
    }
}

@media (max-width:800px) {
    .eachskills {
        width: 100%;
    }
    .sortable-placeholder {
        width: 100%
    }
}

@media (max-width: 768px) {
    .instwrapper .swiper-button-prev {
        left: -5px;
    }
    .instwrapper .swiper-button-next {
        right: -5px;
    }
    .start-main-sec{
        border-left: 0;
        margin-bottom: 30px;
    }
}

@media (max-width: 480px) {
    .profile-img-r {
        float: none;
    }
    .profile-img-l {
        margin-right: 0;
    }
    .personal-info-edit .fancy-file-upload {
        margin-top: 15px;
        max-width: 360px;
    }
}
/*responsive*
/
 */
button.loader, a.loader {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}
button.loader:before, a.loader:before {
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    margin: 0;
    border-radius: 50%;
    border: 2px solid;
    border-left-color: transparent;
    border-top-color: transparent;
    animation: loader 1s linear infinite;
    position: absolute;
    left: 8px;
    top: 50%;
    margin-top: -6px;
}
button:disabled,a.disabled {
    background-color: #000 !important;
    border: 0 !important;
    color: #fff !important;
    opacity: 0.3;
    pointer-events:none;
    cursor:default;
}
div.loader {
    position: relative;
}
div.loader *, section.loader *, main.loader * {
    opacity: 0.7;
}
div.loader::before, section.loader::after, main.loader::after {
    content: '';
    width: 1rem;
    height: 1rem;
    position: relative;
    border: 4px solid #8c8c8c;
    border-top: 4px solid #f74136;
    border-right: 4px solid #f74136;
    top: 50%;
    left: 50%;
    animation: btnloader 0.7s infinite cubic-bezier(0.25, 0.1, 0.66, 0.58);
    position: absolute;
    background-color: #eee;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border-radius: 50%;
}
@keyframes loader {
    0% {
        transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        ms-transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        ms-transform:rotate(360deg);
    }
}
@-webkit-keyframes loader {
    0% {
        transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        ms-transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        ms-transform:rotate(360deg);
    }
}
@-moz-keyframes loader {
    0% {
        transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
        -moz-transform:rotate(0deg);
        ms-transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
        -webkit-transform:rotate(360deg);
        -moz-transform:rotate(360deg);
        ms-transform:rotate(360deg);
    }
}
@keyframes btnloader {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}
@-webkit-keyframes btnloader {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}
@-moz-keyframes btnloader {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}

.react-autosuggest__suggestions-container {
    position: absolute;
    top: 40px;
    right: 0;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0px 3px 11px 2px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 3px 11px 2px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 3px 11px 2px rgba(0,0,0,0.25);
    -ms-box-shadow: 0px 3px 11px 2px rgba(0,0,0,0.25);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all;
    text-align:right;
    z-index: 10;
}
.react-autosuggest__suggestions-container--open {
    background:white;
    opacity: 1;
    visibility: visible;
}
.react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}
.react-autosuggest__suggestion--highlighted{
    background-color: #ddd;
}

.pager-container .pagination {
    list-style: none;
    margin: 20px 0 10px 0;
    padding: 0;
}
.pager-container:last-child ul {
    margin-bottom: 20px;
    margin-top: 0 !important;
}
.pager-container{
    padding-left: 10px;
}


.n_ratesholder {
    direction: ltr !important;
    margin-right: 10px;
}
.n_ratesholder > span {float: left;color: #ff9065;}
.n_ratesholder > span * {
    line-height: 0.7 !important;
}
.n_ratesholder .fa  {
    font-size:16px;
    color:#cc1d68;
}
.fill-star::before,.empty-star::before {
    font-size:20px;
}
.c_modal .fill-star::before,.c_modal .empty-star::before {
    font-size:28px;
}
.fill-star::before {
    content:'star_border'
}
.empty-star::before {
    content:'star_rate'
}
#ui-datepicker-div{
    z-index: 100 !important;
}
#ui-datepicker-div select{
    background-image: url('../../static/img/select-arrow.png');
    background-position: left center;
    background-repeat: no-repeat;
}

/*Mahdis edits*/
.profile-stat-row {
    margin: 10px auto;
}
.shop .profile-stat-row .each-stat .each-inner {
    min-height: 110px;
}
@media (min-width:1000px) {
    .each-inner {
        margin-left: 10px;
        margin-right:10px;
    }
}
.each-inner {
    margin-top:10px;
    margin-bottom:10px;
    padding: 10px;
    background-color: #f7f7f7;
    border: 1px solid #ededed;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    color: #444;
}
.profile-stat-row .each-stat:first-child .each-inner {
    margin-right:0;
}
.profile-stat-row .each-stat:last-child .each-inner {
    margin-left:0;
}
.profile-stat-row .each-stat.gift-code .each-inner {
    padding-right: 100px;
    line-height: 110px;
}
.profile-stat-row .each-stat.gift-code .each-inner input[type='text'] {
    width:auto;
    width:50%;
    display:inline-block;
    border-bottom: 1px solid #ededed;
    margin-left:40px;
}
.profile-stat-row .each-stat.gift-code .each-inner .btn_nice_grad {
    display:inline-block;
    width:30%;
    max-width:150px;
}
.icon-gift {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.profile-stat-row .each-stat .each-inner .icon {
    color: #f04440;
    font-size: 30px;
    float: right;
    margin-left: 15px;
}
.profile-stat-row .each-stat .each-inner > span {
    font-weight:bold;
    float: right;
}
.profile-stat-row .each-stat .each-inner .count {
    position:absolute;
    left: 20px;
}
.profile-money-bag .each-inner {
    margin: 0 0 30px 0;
    padding: 10px;
    height: auto;
}
.profile-money-bag .each-inner::before,.profile-money-bag .each-inner::after {
    clear:both;
    display:table;
    content:'';
}
.profile-money-bag .money-each-stats {
    width:200px;
    text-align: center;
    line-height: 1;
    border-left: 1px solid #ddd;
    float: right;
    color: #757575;
}
.profile-money-bag .money-each-text {
    margin-right: 215px;
}
@media (max-width:600px){
    .profile-money-bag .money-each-stats{
        float:none;
        width:100%;
        border:0;
        border-bottom:1px solid #ddd;
        padding-bottom:15px;
        margin-bottom:15px;
    }
    .profile-money-bag .money-each-text{
        margin-right:0;
    }
}
@media (max-width:480px){
    .profile-stat-row .each-stat .each-inner > span{
        font-size: 12px;
    }
}
.profile-money-bag .money-each-text p {
    /* padding:0 20px; */
    line-height: 2;
    font-weight: bold;
}
.money-img{
    height:80px;
}
.money-img img {
    display:block;
    margin: 0 auto 10px auto;
}
.money-each-stats strong {
    display:block;
    margin-bottom: 10px;
}
.money-each-stats span {
    font-weight:bold;
}
.shop .money-each-stats * {
    margin-bottom:0;
}
.shop .profile-stat-row {

}
.shop .profile-stat-row .each-inner {
    padding: 10px;
    height: auto;
}
.shop .profile-stat-row .each-inner::before,.shop .profile-stat-row .each-inner::after {
    clear:both;
    display:table;
    content:'';
}
.shop .profile-stat-row .each-inner .each-aside {
    float: right;
    width: 50%;
    position:relative;
}
.shop .profile-stat-row .each-inner .each-aside .iconholder {
    min-height:40px;
    line-height:40px;
    margin-top: 10px;
}
.shop .profile-stat-row .each-inner .each-aside .iconholder > img {
    display:inline-block;
}
.shop .profile-stat-row .each-inner .each-aside:first-child::after {
    position:absolute;
    width:1px;
    height:100%;
    background-color:#dddddd;
    left:0;
    top:0;
    content:'';
}
.profile-money-bag .money-each-stats::before,.profile-money-bag .money-each-stats::after {
    content:'';
    display:table;
    clear:both;
}
.each-offer {
}
.each-offer .inner {
    background-color: #f7f7f7;
    overflow: hidden;
    border: 1px solid #ededed;
}
@media (min-width:1000px) {
    .each-offer:first-child .inner {
        margin-right:0;
    }
    .each-offer:nth-child(4n) .inner {
        margin-left:0;
    }
    .each-offer:nth-child(5n) .inner {
        margin-right:0;
        margin-left:10px;
    }
    .each-offer .inner {
        margin: 0px 10px 20px 10px;
    }
}
@media (max-width:1000px) {
    .each-offer .inner {
        margin-bottom:20px;
    }
    .each-offer:nth-child(1n) .inner {
        margin-left:10px;
    }
    .each-offer:nth-child(2n) .inner {
        margin-right:10px;
        margin-left:0;
    }
}
.each-offer h2 {
    font-size: 13px;
    margin-bottom: 10px;
}
.each-offer .details {
    padding: 10px;
    color: #717171;
}
.each-offer .details span{
    font-size: 12px;
}
.each-offer .details > i {
    margin-left:5px;
    font-size: 18px;
    position:relative;
    top:3px;
    color: #888888;
}
.each-offer .thumbnail {
    width: 100%;
    height: 90px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.tab_content .each-offer .thumbnail {
    height:120px;
}
.suggestsHolder {
    position: absolute;
    z-index: 111;
    right: 0;
    left: 0;
    background-color: #fff;
    display: none;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2),-2px 2px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.2),-2px 2px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 2px 2px rgba(0,0,0,0.2),-2px 2px 2px rgba(0,0,0,0.2);
    -ms-box-shadow: 2px 2px 2px rgba(0,0,0,0.2),-2px 2px 2px rgba(0,0,0,0.2);
}
.suggestsHolder.active {
    display:block;
}
.suggestsHolder ul {
    display:block;
    height:auto;
    max-height: 500px;
    overflow-y: auto;
}
.suggestsHolder ul li::before,.suggestsHolder ul li::after {
    display:table;
    clear:both;
    content:'';
}
.suggestsHolder ul > li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.suggestsHolder ul > li:hover {
    background-color:#f7f7f7;
}
.suggestsHolder ul > li .thumbnail {
    width: 110px;
    height: 62px;
    background-color:#000;
    float:right;
    background-size: cover;
    background-position: center;
}
.suggestsHolder ul > li .detail {
    width: calc(100% - 110px);
    float:right;
    height: 62px;
    position: relative;
}
.suggestsHolder ul > li .detail > h2 {
    font-size: 13px;
    padding: 0 10px;
    color: #444444;
}
.suggestsHolder ul > li:last-child {
    border-bottom:0;
}
.suggestsHolder ul > li .detail .views {padding: 10px 10px 0 10px;position: absolute;bottom: 0;font-size: 12px;color: #666666;}
.suggestsHolder ul > li .detail .views > i {
    position: relative;
    top: 6px;
    margin-left: 5px;
    color: #a5a5a5;
    font-size: 20px;
}

/*Mahdis edits*/
/*jwplayer right click menu*/
.jwplayer .jw-rightclick ul .jw-featured a {
    display: none !important;
}/*jwplayer right click menu*/
.darklayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.23);
}
.share-btn{
    position: relative;
    cursor: pointer;
}
#popover-content{
    border:1px solid #dddddd;
    background: #ffffff;
    padding: 10px;
    position: absolute;
    z-index: 5;
    top: -60px;
    left: 50%;
    transform:translateX(-50%) translateY(30px);
    -webkit-transform:translateX(-50%) translateY(30px);
    -moz-transform:translateX(-50%) translateY(30px);
    -ms-transform:translateX(-50%) translateY(30px);
    opacity:0;
    visibility:hidden;
    text-align: center;
    transition:0.3s all;
    -webkit-transition:0.3s all;
    -moz-transition:0.3s all;
    -ms-transition:0.3s all;
    width: 140px;
}
#popover-content.active {
    opacity:1;
    visibility:visible;
    transform:translateX(-50%) translateY(0);
    -webkit-transform:translateX(-50%) translateY(0);
    -moz-transform:translateX(-50%) translateY(0);
    -ms-transform:translateX(-50%) translateY(0);
}
#popover-content a{
    display: inline-block;
    margin: 0 2px;
    position: relative;
}
#popover-arrow{
    width: 10px;
    height: 10px;
    background: #ffffff;
    border-left:1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    position: absolute;
    bottom:-7px;
    z-index:6;
    left: 50%;
    transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}
.ticket-num{
    width:50%;
    float: right;
    text-align: right;
}
.ticket-price{
    width:49.5%;
    float: right;
    text-align: left;
    border-right:1px solid #dddddd;
    color: #79b949;
    font-size: 13px;
}
.ticket-price span{
    font-size: 13px !important;
}
.ticket-desc{
    font-size: 12px;
    margin-top:5px;
    margin-bottom: 10px;
    min-height: 36px;
}